/* Une petite pitié pour nos yeux */

html{
    scroll-behavior: smooth;
}




/* Paramètres du Background */

li{
	margin:0;
}

header{
	margin-left:0;
}

body{
    background-color: rgb(16, 22, 83);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	font-family: 'Montserrat-Bold',sans-serif;
	font-size:12px;
	margin:0;
}

/* Paramètres du menu Nav horizontal */


.NavBarSettings{
	float:center;
	position: sticky;
	top: 0px;
	display: block;
	text-align:center;
	background-color: rgb(0, 0, 0);
	color:white;
	flex-direction: row;
	font-size: large;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-left: 8%;
	margin-right: 8%;
}

.NavContent{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 9px;
	padding-bottom: 8px;
}

.NavContentTitle{
	margin-right: 50%;
	margin-left: 0%;
	padding-top: 9px;
	padding-bottom: 8px;
}

a:hover{
	background-color: purple;
}

/*Paramètre nav verticale  INUTILISEE*/

.VertNavSettings{
	float:center;
	position: sticky;
	display: block;
	text-align:center;
	background-color: rgb(0, 0, 0);
	color:white;
	flex-direction: column;
	padding: 14px;
	top:0;
}

.VertMenu{
	display: block;
	background-color: #000000;
	color:white;
}

/* Paramètres de placement du "main", aka pour mettre les texts au milieu*/

main {
	background-color: #EDEDED;
	margin-left: 8%;
	margin-right:8%;
	padding-left: 8%;
	padding-right: 8%;
	padding-top:1%;
}
  
section.article {
	display: flex;
	flex-direction: column;
}

/*Paramètre pour la barre sur le côté gauche*/

section.SideContent{
	margin-left: 8%;
	background-color: black;
	margin-right: 70%;
	margin-top: 0;
	margin-bottom:0;
	font-family: 'Montserrat-Bold',sans-serif;
}
  
/* Colorisation des liens*/

a:link {
	color:white;
}
  
a:visited {
	color:white;
}


/* Du padding pour les images*/

img{
	float: left;
	padding-right:20px;
}

/* Paramètres du footer */ 
footer{ 
	font-family: Monserrat, sans-serif;
	background-color: black;
	color:white;
	margin: 0;
	text-align:center;
	font-size:large;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 8%;
	margin-right: 8%;

}


/* Paramètres et alignement de la galerie et titres photos*/

.MiddleTitle{
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Montserrat', Verdana, sans-serif;
    font-style: normal;
    text-align: center;
}


#Galerie{
    display: flex;
    justify-content: space-around;
	align-items: center;
	padding: 10px;

}
